<!doctype html>
<html ng-app="Gather">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Join Gather</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- load bootstrap -->

	<link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/gather_styling.css">

	<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">


	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="core.js"></script>
	<!-- Load Bootstrap -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-54361583-1', 'auto');
	  ga('send', 'pageview');
	</script>

</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../">GATHER</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="../about">Our Story</a></li>
				<li><a href="/" >Join</a></li>
			</ul>
		</div>
	</div>
</nav>

<body ng-controller="mainController">

	<div class = "container-no-margin text-center">
		<div class="row">
			<img src="http://i.imgur.com/qKrE9ql.jpg" class="img-responsive">
		</div>
	</div>

	<a href='https://www.youtube.com/watch?v=i7KvO6S_3Mg'>
	<div class="alert alert-success" id="messages" ng-show="message" > {{ message }} </div>
	</a>

	<div class='container text-left'>
		<div class='row col-sm-10 col-sm-offset-1'>
			<h1>Apply to become a founding couple of Gather.</h1>
		</div>
		<div class='row col-sm-10 col-sm-offset-1'>
			<h1><small>We're just getting started.  Come along for the ride.</small></h1>
		</div>

		<!-- FORM TO CREATE TODOS -->
		<div id="signup-form" class="row col-sm-10 col-sm-offset-1">
			
				
			<form>
				<div id ="name-group" class="form-group">
					<!-- label>Name</label -->
					<input type="text" class="form-control input-lg text-left" placeholder="Your name" ng-model="formData.name">
				</div>

				<div id = "e_mail-group" class = "form-group">
					<!--label>E-mail Address</label-->
					<input type="text" class="form-control input-lg text-left" placeholder="Email" ng-model="formData.e_mail">
				</div>

				<div id ="city-group" class="form-group">
					<!--label>City</label-->
					<input type="text" class="form-control input-lg text-left" placeholder="Current city" ng-model="formData.city">
				</div>

				<div id ="hometown-group" class="form-group">
					<!--label>City</label-->
					<input type="text" class="form-control input-lg text-left" placeholder="Hometown" ng-model="formData.hometown">
				</div>

				<div id = "industry-group" class = "form-group">
					<!--label>E-mail Address</label-->
					<input type="text" class="form-control input-lg text-left" placeholder="Industry" ng-model="formData.industry">
				</div>

				<div id = "SO-group" class = "form-group">
					<!--label>E-mail Address</label-->
					<input type="text" class="form-control input-lg text-left" placeholder="Partner's name" ng-model="formData.SO">
				</div>

				<div id="PI-group" class="form-group">
					<!--label>Neighborhood</label-->
					<input type="text" class="form-control input-lg text-left" placeholder="Partner's industry" ng-model="formData.PI">
				</div>

				<!-- Relationship Status Radio Buttons -->
				<label class="label-font">We are:</label>
				<div id = "relationship-group" class = "form-group">
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="rstatus" value="Dating" ng-model="formData.rstatus">
							Dating
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="rstatus" value="Engaged" ng-model="formData.rstatus">
							Engaged
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="rstatus" value="Married" ng-model="formData.rstatus">
							Married
						</label>
					</div>
				</div>

				<!-- Kids Radio Buttons -->
				<label class="label-font">We have:</label>
				<div id = "kids-group" class = "form-group">
					<div class="radio">
						<label class="label-font">
							<input type="radio" name="kids" value="no kids" ng-model="formData.kids">
							no kids
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="kids" value="young kids" ng-model="formData.kids">
							young kids (3 & under)
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="kids" value="kids" ng-model="formData.kids">
							kids (4-12)
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="kids" value="teens" ng-model="formData.kids">
							teens (13+)
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="kids" value="adult kids" ng-model="formData.kids">
							adult kids (18+)
						</label>
					</div>
				</div>

				<!-- Preference Radio Buttons -->
				<label class="label-font">We prefer:</label>
				<div id = "pref-group" class = "form-group">
					<div class="radio">
						<label class="label-font">
							<input type="radio" name="pref" value="wine" ng-model="formData.pref">
							wine
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="pref" value="beer" ng-model="formData.pref">
							beer
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="pref" value="liquor" ng-model="formData.pref">
							liquor
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="pref" value="coffee" ng-model="formData.pref">
							coffee
						</label>
					</div>
					<div class = "radio">
						<label class="label-font">
							<input type="radio" name="pref" value="neither" ng-model="formData.pref">
							neither
						</label>
					</div>
				</div>

				<!-- Activity Radio Buttons -->
				<label class="label-font">We'd be interested in a Gather for:</label>
				<div id = "activity-group" class = "form-group">
					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aHH" value="Happy Hour" ng-model="formData.aHH">
							Happy Hour
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aDrinks" value="Meeting for drinks" ng-model="formData.aDrinks">
							Meeting for drinks
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aDinner" value="Dinner" ng-model="formData.aDinner">
							Dinner
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aBrunch" value="Brunch" ng-model="formData.aBrunch">
							Brunch
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aPark" value="Beach-Park" ng-model="formData.aPark">
							Going to the beach or a park
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aHike" value="hike" ng-model="formData.aHike">
							Going on a hike
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aMusGal" value="museum" ng-model="formData.aMusGal">
							Going to a museum / gallery
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aConcert" value="concert" ng-model="formData.aConcert">
							Going to a concert
						</label>
					</div>

					<div class="checkbox label-font">
						<label>
							<input type="checkbox" name="aCoffee" value="coffee" ng-model="formData.aCoffee">
							Going to a coffee shop
						</label>
					</div>
				</div>
			</form>
		</div>

		<div class="row">
			<h5>  </h5>
		</div>


		<div class="row col-sm-6 col-sm-offset-1">
				<button type="submit" class="btn btn-success btn-lg btn-block" ng-click="createSubmission()">Submit</button>
		</div>

		<div class="row-bottom">
			<h1>      </h1>
		</div>

		
	</div>

</body>
</html>